<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.mapper.EmployeeMapper">
    <select id="selectEmployeeList" resultMap="Employee">
        select * from employee
    </select>

    <insert id="insertEmployee" parameterType="com.zhou.pojo.Employee">
        insert into employee (employee_name,email,gender,department_id,date) values(#{employeeName},#{email},#{gender},#{departmentId},#{date})
    </insert>

    <select id="selectEmployeeById" resultType="com.zhou.pojo.Employee">
        select * from employee where id = #{id}
    </select>

    <update id="updateEmployee" parameterType="com.zhou.pojo.Employee">
        update employee set employee_name = #{employeeName}, email = #{email},
        gender = #{gender}, department_id = #{departmentId}, date = #{date} where id = #{id}
    </update>

    <delete id="deleteEmployee" parameterType="integer">
        delete from employee where id = #{id}
    </delete>

    <resultMap id="Employee" type="com.zhou.pojo.Employee">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="gender" jdbcType="INTEGER" property="gender" />
        <result column="department_id" jdbcType="INTEGER" property="departmentId" />
        <result column="date" jdbcType="DATE" property="date" />
    </resultMap>
</mapper>